<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>crefbany@wnpxfbatnevrgl.pbz</string>
	<key>contactName</key>
	<string>Jackson Gariety</string>
	<key>description</key>
	<string>Toy Chest theme bundle for Textmate 2.</string>
	<key>isDisabled</key>
	<false/>
	<key>name</key>
	<string>Toy Chest</string>
	<key>uuid</key>
	<string>593E2E2A-1DB9-44D0-A76D-BA073B753E34</string>
</dict>
</plist>
